TOKENSIREN_BPF_OBJECT=gen/tracer.o
TOKENSIREN_BINARY_PATH=/proc/<pid>/root/opt/venv/lib/python3.12/site-packages/vllm/_C.abi3.so
TOKENSIREN_REQUEST_START=_Z26cpu_attn_reshape_and_cacheRKN2at6TensorES2_RS0_S3_S2_RKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE
TOKENSIREN_TOKEN_EMIT=_Z27cpu_attention_with_kv_cacheRKN2at6TensorES2_S2_RS0_S2_S2_dbRKSt8optionalIS0_EllS2_dS2_S7_
TOKENSIREN_REQUEST_END=_Z27cpu_attention_with_kv_cacheRKN2at6TensorES2_S2_RS0_S2_S2_dbRKSt8optionalIS0_EllS2_dS2_S7_
