TOKENSIREN_BPF_OBJECT=gen/tracer.o
TOKENSIREN_BINARY_PATH=/proc/<pid>/root/opt/venv/lib/python3.12/site-packages/vllm/_C.abi3.so
TOKENSIREN_REQUEST_START=mla_decode_kvcache(at::Tensor&, at::Tensor&, at::Tensor&, double, at::Tensor&, at::Tensor&)
TOKENSIREN_TOKEN_EMIT=mla_decode_kvcache(at::Tensor&, at::Tensor&, at::Tensor&, double, at::Tensor&, at::Tensor&)
TOKENSIREN_REQUEST_END=per_token_quant_int8_cpu(at::Tensor&)
